footer.footer.bg-secondary.pt-4.text-light
	.container
		.row.w-100.mb-5
			.col-md-4
				h5 Будем на связи
				p Специально для тебя собрали классную рассылку, которая будет приходить раз в месяц
				form(action="" method='get')
					input.form-control.w-100(
					type="text"
					placeholder="your email"
					name="email")
			.row.col-md-8
				.col-md-3
				.col-md-3
					h5 Дроны
					ul.llist-unstyled.text-small
						li.mb-1
							a.text-light(href="#") Сверхзвуковый
						li.mb-1
							a.text-light(href="#") Для съемки
						li.mb-1
							a.text-light(href="#") Спортивные
				.col-md-3
					h5 Магазины
					ul.llist-unstyled.text-small
						li.mb-1
							a.text-light(href="#") О компании
						li.mb-1
							a.text-light(href="#") Адреса
						li.mb-1
							a.text-light(href="#") Контакты
				.col-md-3
					h5 Бренды
					ul.llist-unstyled.text-small
						li.mb-1
							a.text-light(href="#") SuperDrive
						li.mb-1
							a.text-light(href="#") Sharp
						li.mb-1
							a.text-light(href="#") Drooone
						li.mb-1
							a.text-light(href="#") Z-xc
		.row.justify-content-between.pt-2.pb-2
			.col
				small © 2017-2021
			.col.text-end
				small Пользовательское соглашение | Политика использования Cookies




//- section.bg-dark.text-white.mt-5.pt-5
//- 	.container
//- 		.row
//- 			.col-md-4
//- 				h5.mb-2 Be in touch
//- 				a.mb-2.text-decoration-none.text-light Lorem ipsumdolor sit amet, consectetur adipisicing elit. At itaque temporibus.
//- 				label.form-label(for="name")
//- 				input.form-control.text-center.mt-4(id="footer-email" type="email" placeholder="Your Email Adress" name="email" required) 
//- 			.col-md-2
//- 				h5 Shop
//- 				ul.list-unstyled.text-small
//- 					li.mb-1
//- 						a.link-secondary.text-decoration-none.text-light For wowem
//- 					li.mb-1
//- 						a.link-secondary.text-decoration-none.text-light For Men
//- 					li.mb-1
//- 						a.link-secondary.text-decoration-none.text-light Stores
//- 					li.mb-1
//- 						a.link-secondary.text-decoration-none.text-light Our blog
//- 					li.mb-1
//- 						a.link-secondary.text-decoration-none.text-light Shop
//- 			.col-md-2
//- 				h5 Company
//- 				ul.list-unstyled.text-small
//- 					li.mb-1
//- 						a.link-secondary.text-decoration-none.text-light Login
//- 					li.mb-1
//- 						a.link-secondary.text-decoration-none.text-light Register
//- 					li.mb-1
//- 						a.link-secondary.text-decoration-none.text-light Wishlist
//- 					li.mb-1
//- 						a.link-secondary.text-decoration-none.text-light Our products
//- 					li.mb-1
//- 						a.link-secondary.text-decoration-none.text-light Checkouts
//- 			.col-md-2
//- 				h4 Your account
//- 				ul.list-unstyled.text-small
//- 					li.mb-1
//- 						a.link-secondary.text-decoration-none.text-light Login
//- 					li.mb-1
//- 						a.link-secondary.text-decoration-none.text-light Register
//- 					li.mb-1
//- 						a.link-secondary.text-decoration-none.text-light Wishlist
//- 					li.mb-1
//- 						a.link-secondary.text-decoration-none.text-light Our products
//- 					li.mb-1
//- 						a.link-secondary.text-decoration-none.text-light Checkouts